:root{
    --cardHeight:12vh;
}
*{box-sizing: border-box; margin: 0%; padding: 0%;}
html{font-size: 6.25%;}
body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    width: auto;
    height: 100vh;
    max-width: 1000px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.Card{
    background-color: rgb(54, 54, 54);
    width: var(--cardHeight);
    height: var(--cardHeight);
    border: 2px solid rgb(194, 165, 0);
    border-radius: 15px;  
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}
.Card:active{
    transform: rotateY(180deg);
}
.Front-face{
    width: var(--cardHeight);
    height: var(--cardHeight);
    border-radius: 15px; 
    background-image: url("https://i.postimg.cc/BQQR7FRM/Pubg-logo-v3.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    position: absolute;
    backface-visibility: hidden;
}
.Back-face{
    background-color: #fff;
    width: var(--cardHeight);
    height: var(--cardHeight);
    border-radius: 15px; 
    background-image: url("https://i.postimg.cc/VkN0C8FN/Pubg-logo.png");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
@media screen and (min-width:1200px) {
    :root{
        --cardHeight:20vh;
    }
    .cards-container{
        max-width: 1000px;
        grid-template-columns: repeat(6,1fr);
        gap: 30px;
    }
}

