:root{
    --cardHeight:12vh;
}
*{box-sizing: border-box; margin: 0%; padding: 0%;}
html{font-size: 6.25%;}
body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    width: auto;
    height: 100vh;
    max-width: 1000px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 4px;
}
.card{
    background-color: #fff;
    width: var(--cardHeight);
    height: var(--cardHeight);
    border: 4px solid rgb(194, 165, 0);
    border-radius: 15px;  
}
.front-face{
    width: var(--cardHeight);
    height: var(--cardHeight);
    border-radius: 15px; 
    background-image: url("https://i.postimg.cc/VkN0C8FN/Pubg-logo.png");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

@media screen and (min-width:1200px) {
    :root{
        --cardHeight:20vh;
    }
    .cards-container{
        max-width: 1000px;
        grid-template-columns: repeat(6,1fr);
        gap: 20px;
    }
}

